* {
    box-sizing: border-box;
}

body {
    height: 100%;
}

/* Navbar */
.bg-light {
    background-color: white !important;
}
/* End */ 


/* We'll Transform Your Ideas section */
#cards-row {
    margin-top: 50px;
}
.card.steps .card-title {
    font-size: xx-large;
    margin-bottom: 26px;
}
.card.steps .card-subtitle {
    margin-bottom: 30px !important;
}
.card.steps .card-text {
    margin-bottom: 73px !important;
}
.card.steps .card-title, .card.steps .card-subtitle {
    color: blue !important;
}
.card.steps .card-title, .card.steps .card-subtitle, .card.steps .card-text {
    display: flex;
    justify-content: center;
    text-align: center;
}
#transform-ideas {
    margin-top: 100px;
    color: blue;
}
/* End */


/* Why Us card+photo section*/
.why-us-card-photo {
    max-width: 550px;
    position: relative;
}
#why-us .card.w-50 {
    position: absolute;
    width: 200px;
    top: 10%;
    left: 75%;
}
.why-us-card-photo {
    margin-bottom: 100px;
}
.card-title {
    font-size: large;
    color: blue;
}
.card-title, .card-text {
    text-align: left;
}
.card-text-blue {
    color: blue;
    font-size: x-large;
}
/* End */


/* Testimonials */
#testimonials {
    color: blue;
}
#testimonial-cards {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.testimonial-name {
    font-weight: bold;
    text-align: left;
}
.card-text.testimonial {
    font-weight: bold;
}
/* End */

/* Get Started */

#project-gallery {
    margin-top: 50px;
}

#why-us {
    margin-top: 125px;
}