@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin-top:40px;
}

/* Fonts */
h1, h2, h3, h4, h5, h6{
    font-family: Josefin Sans;
    color: #030093;
}

p{
    font-family: Barlow;
}
/* End */

/* Navbar */
.navbar{
    position:fixed;
    width:100%;
    top:0px;
    z-index:10;
}
.bg-light {
    background-color: white !important;
}
/* End */ 


/* We'll Transform Your Ideas section */
.card{
    border: 1px solid #030093
}
#cards-row {
    margin-top: 50px;
}
.card.steps .card-title {
    font-size: xx-large;
    margin-bottom: 26px;
}
.card.steps .card-subtitle {
    margin-bottom: 30px !important;
}
.card.steps .card-text {
    margin-bottom: 73px !important;
}
.card.steps .card-title, .card.steps .card-subtitle {
    color: #030093 !important;
}
.card.steps .card-title, .card.steps .card-subtitle, .card.steps .card-text {
    display: flex;
    justify-content: center;
    text-align: center;
}
#transform-ideas {
    margin-top: 100px;
    color: #030093;
}
/* End */


/* Why Us card+photo section*/
#why-us {
    margin-bottom: 100px;
}
.why-us-card-photo {
    max-width: 550px;
    position: relative;
}
#why-us .why-us-card-photo.odd .card.w-50 {
    left: -66%;
}
#why-us .card.w-50 {
    position: absolute;
    width: 90% !important;
    top: 10%;
    left: 75%;
}
.why-us-card-photo {
    margin: auto;
    margin-left:24px;
    margin-bottom: 100px;
}
.why-us-card-photo.odd {
    margin-left:auto;
    margin-right: 24px;
}
.card-title {
    font-size: large;
    color: #030093;
}
.card-title, .card-text {
    text-align: left;
}
.card-text-#030093 {
    color: #030093;
    font-size: x-large;
}
/* End */


/* Testimonials */
#testimonials {
    color: #030093;
}
#testimonial-cards {
    margin-top: 100px;
}
.card-text.testimonial {
    font-weight: bold;
}
/* End */

/* Get Started */
#get-started {
    margin-top: 100px;
    color: #030093;
}
#get-started-subheading {
    margin-top: 50px;
    text-align: center;
    font-size: x-large;
}
#project-gallery {
    margin-top: 50px;
}

#why-us {
    margin-top: 125px;
}

@media(max-width:1000px){
    img.image-fluid {
        max-width: 100%;
    }
    #why-us .card.w-50 {
        position: inherit;
        width: 200px;
        top: 0%;
        left: 0%;
        width: 90% !important;
        margin: auto !important;
        margin-top: -7% !important;
    }
    .why-us-card-photo {
        margin: auto auto 36px auto;
    }
    .why-us-card-photo.odd {
        margin-left: auto;
        margin-right: auto;
    }
    #why-us .why-us-card-photo.odd .card.w-50 {
        left: unset;
    } 
}